<button type="button" class="btn btn-info btn-md" modalOpener="modal1">Open Modal 1</button>
<!-- apro la modale 1-->

<button type="button" class="btn btn-primary btn-md" modalOpener="modal2">Open Modal 2</button>
<!-- apro la modale 2-->

<!-- modale 1 -->
<app-modal title="BNL external title1" modalId="modal1">
  <p>Una descrizione qualsiasi 1 ...</p>
</app-modal>

<!-- modale 2 -->
<app-modal title="BNL external title2" modalId="modal2">
  <p>
    <b>Una descrizione qualsiasi 2 ...</b>
  </p>
</app-modal>

<div *ngIf="!formVisible">

  <h2>List of BNL Events</h2>

  <div class="alert alert-success" *ngIf=saveResponse>
    {{saveResponse}}
  </div>

  <button class="btn btn-primary" (click)="createEvent()">Create</button>

  

  <table class="table table-responsive table-striped table-hover">
    <tr>
      <td>id</td>
      <td>name</td>
      <td>start date</td>
      <td>end date</td>
      <td>visible</td>
      <td></td>
    </tr>
    <tr *ngFor="let event of eventList">
      <td>{{ event.id }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.startDate }}</td>
      <td>{{ event.endDate }}</td>
      <td>{{ event.visible | boolen }}</td>
      <td>
        <!-- button class="btn btn-warning" (click)="editEvent(event)" -->
        <button class="btn btn-warning" [routerLink]="['/event', event.id]">
          Edit
        </button>
        <button class="btn btn-danger" (click)="deleteEvent(event)">
          Delete
        </button>
      </td>
    </tr>
  </table>

</div>


<app-event-detail *ngIf=formVisible (closeClicked)="hideDetailForm()" (saveClicked)="saveEvent()" (deleteClicked)="saveEvent()"
  [currentEvent]="selectedEvent" [saveResponse]="saveResponse">
</app-event-detail>